@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display/SFProDisplay-Regular.eot');
  src:
          local('SF Pro Display Regular'),
          local('SFProDisplay-Regular'),
          url('../fonts/SF-Pro-Display/SFProDisplay-Regular.woff2') format('woff2'),
          url('../fonts/SF-Pro-Display/SFProDisplay-Regular.woff') format('woff'),
          url('../fonts/SF-Pro-Display/SFProDisplay-Regular.ttf') format('truetype'),
          url('../fonts/SF-Pro-Display/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display/SFProDisplay-Medium.eot');
  src:
          local('SF Pro Display Medium'),
          local('SFProDisplay-Medium'),
          url('../fonts/SF-Pro-Display/SFProDisplay-Medium.woff2') format('woff2'),
          url('../fonts/SF-Pro-Display/SFProDisplay-Medium.woff') format('woff'),
          url('../fonts/SF-Pro-Display/SFProDisplay-Medium.ttf') format('truetype'),
          url('../fonts/SF-Pro-Display/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display/SFProDisplay-Semibold.eot');
  src:
          local('SF Pro Display Semibold'),
          local('SFProDisplay-Semibold'),
          url('../fonts/SF-Pro-Display/SFProDisplay-Semibold.woff2') format('woff2'),
          url('../fonts/SF-Pro-Display/SFProDisplay-Semibold.woff') format('woff'),
          url('../fonts/SF-Pro-Display/SFProDisplay-Semibold.ttf') format('truetype'),
          url('../fonts/SF-Pro-Display/SFProDisplay-Semibold.eot?#iefix')
          format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}
