@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display/SFProDisplay-Regular.eot');
  src:
    local('SF Pro Display Regular'),
    local('SFProDisplay-Regular'),
    url('../fonts/SF-Pro-Display/SFProDisplay-Regular.woff2') format('woff2'),
    url('../fonts/SF-Pro-Display/SFProDisplay-Regular.woff') format('woff'),
    url('../fonts/SF-Pro-Display/SFProDisplay-Regular.ttf') format('truetype'),
    url('../fonts/SF-Pro-Display/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display/SFProDisplay-Medium.eot');
  src:
    local('SF Pro Display Medium'),
    local('SFProDisplay-Medium'),
    url('../fonts/SF-Pro-Display/SFProDisplay-Medium.woff2') format('woff2'),
    url('../fonts/SF-Pro-Display/SFProDisplay-Medium.woff') format('woff'),
    url('../fonts/SF-Pro-Display/SFProDisplay-Medium.ttf') format('truetype'),
    url('../fonts/SF-Pro-Display/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display/SFProDisplay-Semibold.eot');
  src:
    local('SF Pro Display Semibold'),
    local('SFProDisplay-Semibold'),
    url('../fonts/SF-Pro-Display/SFProDisplay-Semibold.woff2') format('woff2'),
    url('../fonts/SF-Pro-Display/SFProDisplay-Semibold.woff') format('woff'),
    url('../fonts/SF-Pro-Display/SFProDisplay-Semibold.ttf') format('truetype'),
    url('../fonts/SF-Pro-Display/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}


@mixin title-slug {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 133.333% */
}

@mixin title-main-large-bold {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}

@mixin title-main-big-bold {
  font-size: 40px;
  line-height: 45px;
  font-weight: 600;
}

@mixin title-main-bold {
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
}

@mixin title-main-small-grow {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

@mixin title-main-small-bold {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

@mixin title-main-xsmall-grow {
  font-size: 24px;
  line-height: 20px;
  font-weight: 500;
}

@mixin title-main-xxsmall-grow {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

@mixin title-main-xxsmall-bold {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

@mixin title-main-xxxsmall-grow {
  font-size: 17px;
  line-height: 25px;
  font-weight: 500;
}

@mixin title-main-xxxsmall {
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
}

@mixin text-counter {
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
}

@mixin text-main-xxlarge-medium {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}

@mixin text-main-xlarge-bold {
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
}

@mixin text-main-large-bold {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
@mixin text-main-large-medium {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

@mixin text-main-large-medium {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

@mixin text-main-big {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

@mixin text-main-medium {
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
}

@mixin text-main {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

@mixin text-main-grow {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

@mixin text-main-small-grow {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}

@mixin text-main-small {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}

@mixin text-main-xsmall {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}

@mixin text-main-xxsmall {
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
}

@mixin text-phone-mobile {
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
}

@mixin button-text-big-grow {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

@mixin button-text-big {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

@mixin button-text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

@mixin button-text-grow {
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
}

@mixin error-page-text {
  font-size: 400px;
  line-height: 350px;
  font-weight: 400;
}