@import './variables.scss';
// typography

@mixin title-main-large-bold {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}

@mixin title-main-big-bold {
  font-size: 40px;
  line-height: 45px;
  font-weight: 600;
}

@mixin title-main-bold {
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
}

@mixin title-main-small-grow {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

@mixin title-main-xsmall-grow {
  font-size: 24px;
  line-height: 20px;
  font-weight: 500;
}

@mixin title-main-xxsmall-grow {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

@mixin title-main-xxsmall-bold {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

@mixin title-main-xxxsmall-grow {
  font-size: 17px;
  line-height: 25px;
  font-weight: 500;
}

@mixin text-counter {
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
}

@mixin text-main-xlarge-bold {
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
}

@mixin text-main-large-bold {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

@mixin text-main-big {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

@mixin text-main {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

@mixin text-main-grow {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

@mixin text-main-small {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}

@mixin text-main-xsmall {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}

@mixin text-main-xxsmall {
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
}

@mixin button-text-big-grow {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

@mixin button-text-big {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

@mixin button-text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

@mixin button-text-grow {
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
}

@mixin error-page-text {
  font-size: 400px;
  line-height: 350px;
  font-weight: 400;
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    height: 100%;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-second;
  }

  &::-webkit-scrollbar-track {
    background-color: $color-white-lighter;
  }
}

// breakpoints
$screen-small-max: 768px;

@mixin mobile {
  @media screen and (max-width: #{$screen-small-max}) {
    @content;
  }
}

$tablet-from: 769px;
$tablet-to: 1024px;

@mixin tablet {
  @media screen and (min-width: #{$tablet-from}) and (max-width: #{$tablet-to}) {
    @content;
  }
}

$desktop-form: 1025px;

@mixin desktop {
  @media screen and (min-width: #{$desktop-form}) {
    @content;
  }
}

@mixin footer-media {
  @media screen and (max-width: #{$tablet-to}) {
    @content;
  }
}

$screen-xsmall-max: 567px;

@mixin xsmall {
  @media screen and (max-width: #{$screen-xsmall-max}) {
    @content;
  }
}

$screen-medium-min: 1200px;

$screen-large-min: 1600px;

@mixin media-start-from($val) {
  @media screen and (min-width: #{$val}) {
    @content;
  }
}

@mixin media-end-to($val) {
  @media screen and (max-width: #{$val}) {
    @content;
  }
}

@mixin media-range($min, $max) {
  @media screen and (max-width: #{$max}) and (min-width: #{$min}) {
    @content;
  }
}

@mixin reset-h {
  margin: 0;
  padding: 0;
}

@mixin container($max-width: 1232px) {
  padding: 0 16px;
  margin: 0 auto;
  max-width: $max-width;
}

@mixin centered-flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin window-popup {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

@mixin fill-svg-and-path($color, $transition-duration: 200ms) {
  transition: all $transition-duration;
  fill: $color;

  path {
    transition: all $transition-duration;
    fill: inherit;
  }
}

@mixin cut-for-n-rows($n: 2) {
  display: -webkit-box;
  overflow: hidden;
  white-space: pre-line;
  text-overflow: ellipsis;
  -webkit-line-clamp: $n;
  -webkit-box-orient: vertical;
}

@mixin no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin custom-scrollbar($track: $color-main) {
  &::-webkit-scrollbar {
    position: absolute;
    width: 8px;
    height: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-main-light;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track:disabled {
    background: transparent;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-second;
    border: 2px solid $track;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color-second-dark;
  }
}

@mixin hover {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }
}
