@import './variables.scss';
// typography



@mixin scrollbar-y {
  &::-webkit-scrollbar {
    width: 8px;
    height: 100%;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-second;
  }

  &::-webkit-scrollbar-track {
    background-color: $color-white-lighter;
  }
}

@mixin scrollbar-x {
  &::-webkit-scrollbar {
    width: 100%;
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-second;
  }

  &::-webkit-scrollbar-track {
    background-color: $color-white-lighter;
  }
}

// <breakpoints Desktop First>
$screen-mobile-to: 768px;
$screen-tablet-to: 1024px;
$screen-desktop-to: 1280px;

@mixin mobile {
  @media screen and (max-width: #{$screen-mobile-to}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: #{$screen-tablet-to}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: #{$screen-desktop-to}) {
    @content;
  }
}
// </breakpoints Desktop First>

// <breakpoints custom>
@mixin media-to($val) {
  @media screen and (max-width: #{$val}) {
    @content;
  }
}

@mixin media-from($val) {
  @media screen and (min-width: #{$val}) {
    @content;
  }
}
// </breakpoints custom>



@mixin centered-flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin window-popup {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

@mixin svg-color($color, $transition-duration: 0ms) {
  transition: all $transition-duration;
  fill: $color;

  path {
    transition: all $transition-duration;
    fill: inherit;
  }
}

@mixin cut-for-n-rows($n: 2) {
  display: -webkit-box;
  overflow: hidden;
  white-space: pre-line;
  text-overflow: ellipsis;
  -webkit-line-clamp: $n;
  -webkit-box-orient: vertical;
}

@mixin no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin custom-scrollbar($track: $color-main) {
  &::-webkit-scrollbar {
    position: absolute;
    width: 8px;
    height: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-main-light;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track:disabled {
    background: transparent;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-second;
    border: 2px solid $track;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color-second-dark;
  }
}

@mixin hover {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin mr($margin) {
  & > * {
    margin-right: $margin;
    
    &:last-child {
      margin-right: 0;
    }
  }
}

@mixin mb($margin) {
  & > * {
    margin-bottom: $margin;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
